asgiref==3.11.1
Django==6.0.6
gunicorn==26.0.0
packaging==26.2
sqlparse==0.5.5
whitenoise==6.12.0
Pillow>=10.0.0
psycopg2-binary>=2.9.9
dj-database-url>=2.1.0
cloudinary>=1.40.0
django-cloudinary-storage>=0.3.0
